@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}

.signup-button-1{
    padding: 8px 25px;
    max-width: 130px;
    background-color: #3882F6;
    border: none;
    color: white;
    border-radius: 5px;
    font-size: 18px;
}

p{
    margin: 0;
}

.header{
    background-color: #1F2937;
}

.nav{
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.left{
    list-style-type: none;
    padding-left: 0;
}

.right{
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 16px;
    flex-wrap: wrap;
}

.header-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap-reverse;
    padding: 40px;
    padding-bottom: 60px;
}

.content-1{
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    flex: 1;
}

.placeholder{
    max-width: 1000px;
    min-width: 300px;
    width: 100%;
    height: auto;
}

.hero-text{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.hero-secondary, a{
    font-size: 18px;
    color: #E5E7EB;
}

a{
    text-decoration: none;
 }

.info-section{
    padding: 70px 100px 100px 100px;
    text-align: center;
}

.images{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.image{
    display: flex;
    justify-content: center;
    max-width: 200px;
    margin-bottom: 10px;
    flex-wrap: wrap;
    text-align: center;
    color: rgb(112, 112, 112);
}

.blank{
    border-radius: 20px;
    margin-bottom: 10px;
    border: 5px solid;
    border-color: #3882F6;
    max-width: 150px;
    height: auto;
}

.quote-section{
    background-color: #E5E7EB;
    padding: 130px 150px 110px 150px;
}

.quote{
    font-size: 32px;
    font-style: italic;
    color: #1F2937;
    margin-bottom: 10px;
}

.thor{
    font-size: 20px;
    font-weight: bold;
    text-align: end;
}

.signup-section{
    padding: 90px 180px;
}

.signup-box{
    background-color: #3882F6;
    color: white;
    padding: 40px 80px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.signup-button-2{
    border: 2px solid;
    border-color: white;
    padding: 8px 30px;
    max-width: 200px;
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    font-size: 18px;
}

.signup-header{
    font-size: 20px;
    font-weight: bold;
}

.other-text{
    color: #E5E7EB;
}

.footer{
    background-color: #1F2937;
    text-align: center;
    color: white;
    padding: 35px;
}